footer {
	width: 100%;
	&.global_ft {
		.index_page & {
			@include absolute($b:3px);
		}
		height: 23px;
		@include background-image(linear-gradient(#101d24, #172934));
		p {
			width: 100%;
			color: #fff;
			font-size: em(13);
			line-height: 23px;
			text-align: center;
		}
	}
	&::after {
		@include psudoClass;
		@include wh2(100% 3px);
		@include bg(color($colors, nor, 5));
	}


}
