#top {
	@include fixed($t:0, $l:0);
	z-index: 91;
	@include wh(100%, 3px);
	@include bg(color($colors, nor, 2));
	&:after {
		@include psudoClass;
		@include fixed(3px, $l:0);
		z-index: 90;
		@include wh2(100% 2);
		@include bg(#fff);
	}
}

$header_padding: 5%;
$header_h: 65px;
$header_h2: 55px;
$subNavBar_h: 28px;
/*========================================================================*\
		>>	global_hd  quick_bar  logo
\*========================================================================*/
header {
	position: relative;
	&.global_hd {
		position: fixed;
		z-index: 90;
		top: 3px;
		left: 0;
		@include wh(100%, $header_h + $subNavBar_h + 2);
		// @include bg(#fff);
		padding-top: 2px;
		overflow: hidden;
		@include respondTo(1366){
			height: $header_h2 + $subNavBar_h + 2;
		};
		.search_form {
			position: relative;
			height: 65px;
			overflow: hidden;
			@include respondTo(1560){
				width: 5%;
				overflow: visible;
			};
			form {
				@include VerticalAlign;
				width: 100%;
				height: 2.3125em;
			}
			&-input {
				width: 200px;
				// height: 35px;
				border-radius: 25px;
				background-color: transparent;
				border-color: #a3cdd7;
				color: #a3cdd7;
				&:focus {
					box-shadow: none;
				}
				@include respondTo(1560){
					@include absolute($r:0, $b:-40px);
					width: 200px;
					background-color: #fff;
					display: none;
				};
			}
			&-submit {
				@include absolute(5px, 10px);
				@include wh2(21);
				@include bg-i(-76, -55);
				box-shadow: none;
				border: none;
				&:active {
					@include hover;
				}
				&:not(.mScreen) {
					@include respondTo(1560){
						top: 50px;
						display: none;
					};
				}
				&.mScreen {
					@include respondTo(1920){
						display: none;
					};
					@include respondTo(1560){
						display: block;
					};
				}
			}
		}
	}// header.global_hd  END

	&#logo {
		position: relative;
		z-index: 50;
		width: 30%;
		height: $header_h;
		@include bg(color($colors, nor, 1));
		padding-left: $header_padding;
		// float: left;
		@include respondTo(1560){
			width: 20%;
			padding: 0 0.8em;
		};
		@include respondTo(1366){
			height: $header_h2;
		};
		a {
			@include absolute($t: 10px, $r: 1em);
			@include respondTo(1560){
				display: table;
				@include vc;
				right: 10px;
				width: 80%;
				margin: auto;
			};
		}
		img {

		}
	}// header#logo  END
}
/*========================================================================*\
		>>	main_nav
\*========================================================================*/
.main_nav {
	position: relative;
	z-index: 50;
	width: 70%;
	height: $header_h;
	padding-right: $header_padding;
	@include bg(#fff);
	@include respondTo(1560){
		width: 80%;
		padding-right: 0;
	};
	@include respondTo(1366){
		height: $header_h2;
	};
	ul {
		height: 100%;
		@include respondTo(1366){
			position: relative;
			top: -5px;
		};
	}
	&-item {
		position: relative;
		height: 100%;
		// @include VerticalAlign;
		
		@include transition(all 0.3s ease(out-cubic));
		a, span {
			display: block;
			text-align: center;
		}

		span {
			color: #2d8ea1;
			font-size: em(15);
			font-weight: bold;
			line-height: 20px;
			.en {
				font-size: em(9);
				font-family: Verdana, Geneva, sans-serif;
				font-weight: normal;
				letter-spacing: 1px;
			}
			&.wrap {
				position: relative;
				z-index: 10;
			}
		}
		&>a {
			@include wh2;
			padding: 0.8em 1.5em 0;
			@include respondTo(1560){
				padding: 0.8em 1em 0;
			};
			@include respondTo(1366){
				padding: 0.4em 0.6em 0;
			};
		}
		&::before {
			@include psudoClass;
			position: absolute;
			z-index: 1;
			left: 0.2em;
			@include vc;
			@include wh2(43 40);
			@include bg('bg-navHover.png');
			@include opacity(0);
			@include transition(all 0.3s ease(in-out-quad));
		}
		&:hover {
			@include bg(#efd468);
			span {
				color: #fff;
				text-shadow: 1px 1px 1px rgba(#000, 0.8), 2px 2px 0px color($colors, nor, 2);
			}
			&::before {
				@include opacity(1);
			}
		}
	}// .main_nav-item  END
	&-icon {
		height: 31px;
		margin-bottom: 0.5em;
		// @include transition(all 0.3s $easeInOutCubic);
		@each $navItem, $w, $x, $y in (item1, 34px, 0, 0),
									  (item2, 37px, -79px, 0),
									  (item3, 43px, -155px, 0),
									  (item4, 69px, -243px, 0),
									  (item5, 78px, -358px, 0),
									  (item6, 53px, -485px, 0) {
			.#{$navItem} & {
				width: #{$w};
				// @include bg('navIcon.png', $x, $y);
			}
		}
	}// .main_nav-icon  END
}

ul.subNav {
	position: absolute;
	left: 1em;
	top: -100%;
	z-index: -10;
	@include opacity(0);
	// display: none;
	width: 100vw;
	height: auto;
	li {
		position: relative;
		z-index: 9;
		padding: 0 0.8em;
	}
	a {
		color: #fff;
		font-size: em(13);
		line-height: $subNavBar_h;
		&:hover {
			color: color($colors, nor, 2);
		}
	}
	.js-hover & {
		z-index: 10;
		top: 100%;
		@include opacity(1);
		display: block;
	}
	.padding {
		position: absolute;
		z-index: 8;
		top: 0;
		left: -30%;
		@include wh2(200%);
	}
}

nav.sub_nav-bg {
	position: absolute;
	z-index: 40;
	bottom: $subNavBar_h - 3;
	width: 100%;
	height: $subNavBar_h;
	@include background-image(linear-gradient(#00535f, #006878 30%, #006d7e));
	@include transition(all 0.3s ease(in-out-quad));
	&.active {
		bottom: 0px;
	}

}



